*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Rubik" sans-seriff;
    display:flex;
    flex-direction:column;
    /*justify-content: center;
    align-items: flex-start;
    background-color: white;*/
    height: 100vh;
}
/* 
@media only screen and (min-width 500px) { */

.groub-background-and-content {
max-width: 1440px;
height: 911px;
position: relative;
margin: 0 auto;
}

.background-jing {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background-color: #F4F7FC;;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.all-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

header{
    max-width: 1440px;
}
.header-title {
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    margin: 0 auto;  
    width: 100%;  
    margin-left: 103px;
}

.header-left {
    display:flex ;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative; 
    /* left:232px; */
    
}
.head-text{
    margin-left: 10px;
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    color: #0B0757;
}
.header-logo {
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position:absolute;
    left: -44px;
    /* top: 20px; */
}
.logo-2{
    margin-left: -29px;
}

    /* position:absolute; */
    /*padding: 5px;*/
    /* left: 629px;   */

ul {
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:16px;
    font-weight: 400;
    color:#0B0757;
    gap: 48px;
    list-style: none;
}
.account-button{
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    border:0;
    border-radius:5px;
    background-color:#FDD76E;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.icon-button{
    display: none;
    width: 18px;
    height: 16px;
}


/* a:hover{
    padding: 24px;
    border-radius:5px;
    background-color:#FDD76E;
    } */




.content{
    max-width: 1440px;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    padding-left: 165px;

}
.left-content{
    display:flex ;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding-top: 166px;
    position:relative;
}
.sub{
    display:flex;
    justify-content:space-evenly;
}
.line{
    background:#1374F6;
    width: 34px;
    height: 2px;
    border-radius: 2rem;
    position:absolute;
    left:8px;
    top:187px;
}
.sub-head{
    font-size: 20px;
    font-weight: 400;
    color: #1374F6;
    font-style: bold;
}
.line{
    margin-left: 176px;
}

.main-point{
    line-height: 56.88px;
    font-size: 48px;
    font-weight: bold;
    color: #0B0757;
    font-style: bold;
}
.details-1{
    color:#8480AE;
    font-size: 18px;
    font-weight: 400;
    color: #8480AE;
    line-height: 30px;
}
.detail-boxes{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    width:160px;
    height:60px;
    background-color:#1374F6 ;
    color: #FFFFFF;
}
.details-nav{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.play{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    color:#0B0757;
    padding-left: 29px;
}
.watch{
    padding-left: 9px;;
}
.right-content{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 86px;
    margin-top: 83px;
    width:609px;
    height:632px;
    position:relative;
}
.picture-box{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile-pic{
    position:absolute;
    margin: 26px 46px 11px 30px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 93%);
}
.real-box{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 149px;
    height: 204.184px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(132, 128, 174, 0.10);
    position:absolute;
    top:47.21px;
    left:454px;
    
}
.realtime-users{
    color: #97A0C3 ;
    font-weight: 400;
    font-size: 14px;
    padding: 18.79px 24px 0px 20px;
}
.p553{
    color: #0B0757;
    font-size: 32px;
    font-weight: 500;
    line-height: 28px; /* 87.5% */
    padding: 12px 71.5px 0px 16.5px;
}
.percent{
    color: #04B78A;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 74px 0px 20px;
}
.arrow{
    width: 18px;
    height: 18.016px;
    flex-shrink: 0;
    position: absolute;
    top: 96.06px;
    left:84px;
}
.graph{
    width: 113px;
    height: 56.051px;
    flex-shrink: 0;
}
.users-box{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 180px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(132, 128, 174, 0.10);
    position:absolute;
    top: 352px;
    right:435px;
}
.ellispe{
    position:absolute;
    bottom: 231px;
    left:123.05px;
}
.users{
    color:#1F1E61;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding:24px 0px 0px 24px;
}
.users-small-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position:absolute;
    top:62px;
    left:24px;
    gap: 13px;
}
.michel,.clark,.gereds{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.profile-1,.profile-2,.profile-3{
    padding-left:11px;
}
.p1{
    color:#1F1E61;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p2{
    color:#8480AE;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.user-message{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    width: 125px;
    height: 36px;
    background-color:#00B894 ;
    color: #FFFFFF;
}
@media only screen and (max-width: 1039px){

    .header-title {
        display:flex ;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 32px;
        margin: 0 auto;  
        width: 100%;  
        
    }

    .header-title .menu,.header-title .account-button{
        display: none;
    }

    .header-title .icon-button{
        width: 18px;
        height: 16px;
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 620px) {

    

    header{
        max-width: 1440px;
    }

    .header-title {
    
        display:flex ;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 32px;
        margin: 0 auto;  
        width: 100%; 
    }

    section-1{
        background-image: url("./image/background.png");
        background-repeat: no-repeat;
        background-size:cover;
    }
   
     .header-left {
        display:flex ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* position: relative; */
        padding:13px;
        /* left:232px; */
        font-size: 36px;
        font-weight: bold;
        color: #0B0757;
        font-style: bold;
    }
    .head-text{
        margin-left: 10px;
    }
    .header-logo {
        display:flex ;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        /* position:absolute; */
        /* left: 153px; */
        /* top: 20px; */
    }
    .logo-2{
        margin-left: -29px;
    }
    
        /* position:absolute; */
        /*padding: 5px;*/
        /* left: 629px;   */
    
    .header-title .menu,.header-title .account-button{
        display: none;
    }

    .header-title .icon-button{
        width: 18px;
        height: 16px;
        display: block;
        margin-bottom: 10px;
    }


    .account-button{
        display:flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 60px;
        border:0;
        border-radius:5px;
        background-color:#FDD76E;
        color: black;
        font-weight: 400;
        font-size: 16px;
    }


    /* a:hover{
        padding: 24px;
        border-radius:5px;
        background-color:#FDD76E;
        } */
    
    
    
    
    .content{
        max-width: 1440px;
        display:flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: flex-start;
        padding-left: 165px;
    
    }
    .left-content{
        display:flex ;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        padding-top: 166px;
        position:relative;
    }
    .sub{
        display:flex;
        justify-content:space-evenly;
    }
    .line{
        background:#1374F6;
        width: 34px;
        height: 2px;
        border-radius: 2rem;
        position:absolute;
        left:8px;
        top:187px;
    }
    .sub-head{
        font-size: 20px;
        font-weight: 400;
        color: #1374F6;
        font-style: bold;
    }
    .line{
        margin-left: 176px;
    }
    
    .main-point{
        line-height: 56.88px;
        font-size: 48px;
        font-weight: bold;
        color: #0B0757;
        font-style: bold;
    }
    .details-1{
        color:#8480AE;
        font-size: 18px;
        font-weight: 400;
        color: #8480AE;
        line-height: 30px;
    }
    .detail-boxes{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        width:160px;
        height:60px;
        background-color:#1374F6 ;
        color: #FFFFFF;
    }
    .details-nav{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
    }
    .play{
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        color:#0B0757;
        padding-left: 29px;
    }
    .watch{
        padding-left: 9px;;
    }
    .right-content{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 86px;
        margin-top: 83px;
        width:609px;
        height:632px;
        position:relative;
    }
    .picture-box{
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .profile-pic{
        position:absolute;
        margin: 26px 46px 11px 30px;
        clip-path: polygon(0 0, 100% 0, 97% 100%, 0 93%);
    }
    .real-box{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 149px;
        height: 204.184px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 30px 0px rgba(132, 128, 174, 0.10);
        position:absolute;
        top:47.21px;
        left:454px;
        
    }
    .realtime-users{
        color: #97A0C3 ;
        font-weight: 400;
        font-size: 14px;
        padding: 18.79px 24px 0px 20px;
    }
    .p553{
        color: #0B0757;
        font-size: 32px;
        font-weight: 500;
        line-height: 28px; /* 87.5% */
        padding: 12px 71.5px 0px 16.5px;
    }
    .percent{
        color: #04B78A;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 74px 0px 20px;
    }
    .arrow{
        width: 18px;
        height: 18.016px;
        flex-shrink: 0;
        position: absolute;
        top: 96.06px;
        left:84px;
    }
    .graph{
        width: 113px;
        height: 56.051px;
        flex-shrink: 0;
    }
    .users-box{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 180px;
        height: 280px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 10px 30px 0px rgba(132, 128, 174, 0.10);
        position:absolute;
        top: 352px;
        right:435px;
    }
    .ellispe{
        position:absolute;
        bottom: 231px;
        left:123.05px;
    }
    .users{
        color:#1F1E61;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        padding:24px 0px 0px 24px;
    }
    .users-small-box{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position:absolute;
        top:62px;
        left:24px;
        gap: 13px;
    }
    .michel,.clark,.gereds{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
    .profile-1,.profile-2,.profile-3{
        padding-left:11px;
    }
    .p1{
        color:#1F1E61;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .p2{
        color:#8480AE;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .user-message{
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:5px;
        width: 125px;
        height: 36px;
        background-color:#00B894 ;
        color: #FFFFFF;
    }
}